* {
  box-sizing: border-box;
  color: #454845;
  font-weight: 700;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#button {
  text-align: center;
  background: rgba(220, 220, 235, 0.5);
  cursor: pointer;
  border-radius: 7px;
  transition: all ease 0.3s;
}

#button:hover {
  background: rgba(220, 220, 235, 0.7);
}

#button {
  padding: 1rem;
}

#result {
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 5px;
  color: #777;
  opacity: .3;
  mix-blend-mode: difference;
  font-size: 1rem;
}

@media (max-width: 500px) {
  #button span {
    font-size: 1rem;
    text-wrap: none;
  }

  #result {
    padding: 0 5px;
  }
}
